{% extends 'layout/master.html.twig' %}

{% block title %}Gears Of Guitarists.{% endblock %}

{% block main %}
   

<div class="example-wrapper">

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/application/src/Controller/DefaultController.php</code></li>
        <li>Your template at <code>/application/templates/default/index.html.twig</code></li>
    </ul>
</div>
{% endblock main %}
